CatalogoCloud_vs2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
     ========================================================
     Módulo: LMSGI - CFGS DAM/DAW
     Autor: Elena Sáez Lascurain
     Descripción: Refactorización de esquema XSD con restricciones RegEx para validar catalogo.xml
     ========================================================
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    
    <xs:attributeGroup name="AtributosServidor">
        <xs:attribute name="id" type="TipoIdServidor" use="required"/>
        <xs:attribute name="rack" type="TipoRack" use="required"/>
        <xs:attribute name="estado" type="TipoEstado" use="required"/>
    </xs:attributeGroup>
    
    <xs:group name="ComponentesHardware">
        <xs:sequence>
            <xs:element ref="cpu"/>
            <xs:element ref="ram"/>
            <xs:element ref="gpu" minOccurs="0" maxOccurs="8"/>
            <xs:element ref="discos"/>
        </xs:sequence>
    </xs:group>
    
    <xs:element name="cpu">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="nucleos" type="xs:integer" use="required"/>
                    <xs:attribute name="arquitectura" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ram">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="unidad" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value="MB|GB|TB"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="gpu">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="modelo" type="xs:string" use="required"/>
                    <xs:attribute name="vram_gb" type="xs:integer" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="discos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="disco" maxOccurs="8">
                    <xs:complexType>
                        <xs:attribute name="tipo" use="required">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="NVMe|SSD|HDD"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="capacidad_tb" type="xs:integer" use="required"/>
                        <xs:attribute name="principal" type="xs:boolean" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="TipoIdServidor">
        <xs:restriction base="xs:string">
            <xs:pattern value="srv-[a-z]+-[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TipoZona">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2}-[a-z]+-\d+"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TipoRack">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]\d{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TipoVersion">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d+(\.\d+)*"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="TipoEstado">
        <xs:restriction base="xs:string">
            <xs:pattern value="activo|mantenimiento|apagado"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:element name="catalogo_cloud">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="centro_datos" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="servidor" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        
                                        <xs:element name="hardware">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:group ref="ComponentesHardware"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <xs:element name="software">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="so">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="version"
                                                                                type="TipoVersion"
                                                                                use="required"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="servicios">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="servicio" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute name="puerto"
                                                                                            type="xs:integer"
                                                                                            use="required"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <xs:element name="red" minOccurs="0">
                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="ip_fija" type="xs:string"/>
                                                    <xs:element name="dhcp" type="xs:boolean"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <xs:element name="auditoria" minOccurs="0">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="fecha_revision" type="xs:date"/>
                                                    <xs:element name="tecnico" type="xs:string"/>
                                                    <xs:element name="nota" type="xs:string"/>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                    </xs:sequence>
                                    
                                    <xs:attribute name="id" type="TipoIdServidor" use="required"/>
                                    <xs:attribute name="rack" type="TipoRack" use="required"/>
                                    <xs:attribute name="estado" type="TipoEstado" use="required"/>
                                    
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        
                        <xs:attribute name="ubicacion" type="xs:string" use="required"/>
                        <xs:attribute name="zona" type="TipoZona" use="required"/>
                        
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="empresa" type="xs:string" use="required"/>
        </xs:complexType>
        
        <xs:unique name="UnicoID">
            <xs:selector xpath=".//servidor"/>
            <xs:field xpath="@id"/>
        </xs:unique>
        
    </xs:element>
    
</xs:schema>